{% extends "base.html" %}

{% block title %}JunJunBot{% endblock %}

{% block main %}
<div class="jumbotron">
  <h1 class="display-4" >跟 JunJunBot 打聲招呼!! </h1>
    <p class="lead">正在為專題苦惱，做訊號處理、深度學習，尋找未來的方向。</p>
    <hr class ="my-4">
    <p class="lead">一隻偶爾寫寫程式，偶爾攝影的機器人</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a>
</div>

  <div class="container">
    <div class="row desc">
      <div class="col">
        <h2><i class="fas fa-robot"></i>  Line ChatBot</h2>
        <p>JunJunBot是一隻LINE聊天機器人，目前有查詢天氣和字典功能，還在開發中，如果大家想要玩玩看，歡迎大家把他加為好友。</p>
     </div>
  <div class="col">
      <h2><i class="fas fa-heartbeat"></i>  訊號處理</h2>
      <p>目前專題正在製作與訊號處理相關的作品，製作前端感測模組收集需要的訊號資料，並將訊號處理好後訓練一個人工智慧的模型，可以運用在智慧醫療、智慧農業等相關領域。</p>
  </div>
  <div class="col">
      <h2><i class="fab fa-android"></i>  Android APP</h2>
      <p>我們同時也在開發手機APP，因為硬體希望呈現較像穿戴式裝置，因此搭配手機APP使用是十分簡便的解決方案。</p>
      </div>
    </div>
  </div>

{% endblock %}